// Navigation Styles here
.container.home nav {
    .display-flex(space-between);

    .nav-links-container {
        width: 40%;
        .display-flex();

        a {
            .display-flex();
            height: @nav-heigth;
            width: 100%;
        }
    }
}